.download-btn {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--box-bg);
    border: 1px solid var(--color-border);
    font-size: 0.75rem;
    align-self: flex-end;
    position: relative;
    margin-bottom: 1rem;
    overflow: hidden;
    transition: all 0.4s ease;
    .download {
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    .file {
        font-size: 0.55rem;
        font-style: italic;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
.download-btn:hover {
    background-color: var(--primary-color);
    .download {
        opacity: 1;
    }
}

@media only screen and (min-width: 720px) {
    .download-btn {
        width: 6.75rem;
        height: auto;
        aspect-ratio: 1;
        .file {
            font-size: 0.75rem;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .download-btn {
        width: 15%;
        max-width: 12.5rem;
        font-size: 1rem;
        .file {
            font-size: inherit;
        }
    }
}