.content {
    padding: 0.5rem;
    margin-top: 3.5rem;
    .options-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        overflow-x: auto;
        .option {
            display: flex;
            justify-content: center;
            align-items: center;
            writing-mode: vertical-rl;
            text-orientation: sideways;
            height: 7rem;
            width: 5.25rem;
            min-width: 5.25rem;
            font-size: 1.15rem;
            transition: color 0.4s ease;
        }
        .option:hover {
            color: var(--primary-color);
        }
        .post {
            display: inline-block;
            min-width: 8.6rem;
            max-width: 8.6rem;
            height: 7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--color-border);
            position: relative;
            .img-container {
                position: absolute;
                width: fill;
                height: fill;
                transition: all 0.4s ease;
                background: var(--box-bg);
                img {
                    width: fill;
                    height: fill;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .post-overlay {
                font-family: "Avenir Next UltraLight";
                font-size: 2rem;
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 1;
                transition: opacity 0.4s ease;
            }
            .inner-post {
                width: fill;
                height: fill;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 0.8rem;
                font-family: "Avenir Next";
                position: relative;
                background: var(--primary-color);
                .post-desc {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /* number of lines to show */
                            line-clamp: 2; 
                    -webkit-box-orient: vertical;
                }
                .post-name {
                    position: absolute;
                    writing-mode: vertical-rl;
                    right: 0;
                    bottom: 0;
                }
            }
            .inner-about {
                width: fill;
                height: fill;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 0.8rem;
                position: relative;
                background: var(--primary-color);
                padding: 1rem;
                .post-desc {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 4; /* number of lines to show */
                            line-clamp: 4; 
                    -webkit-box-orient: vertical;
                }
                .post-name {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
        .post:hover {
            .img-container {
                opacity: 0;
            }
            .post-overlay {
                opacity: 0;
            }
        }
    }
    .options-container::-webkit-scrollbar {
        height: 0.75rem;
    }
    .options-container::-webkit-scrollbar-track {
        background-color: var(--bg-color);
        border: 1px solid var(--color-border);
    }
    .options-container::-webkit-scrollbar-thumb {
        background-color: var(--secondary-txt);
        border: 1px solid var(--color-border);
    }
    .options-container:first-child {
        .post {
            width: 14.45rem;
            min-width: 14.45rem;
        }
    }
    .options-container:nth-child(3) {
        .post {
            width: 10.5rem;
            min-width: none;
            max-width: none;
        }
    }
    .options-container:nth-child(4) {
        .post {
            min-width: 7rem;
            max-width: none;
            width: 7rem;
        }
    }
    .options-container + .options-container {
        margin-top: 0.75rem;
    }
}

@media only screen and (min-width: 720px) {
    .content {
        padding: 1rem;
        .options-container {
            .option {
                height: 9.5rem;
                width: 12.5%;
                min-width: 12.5%;
                font-size: 1.5rem;
            }
            .post {
                width: 11.44rem;
                min-width: 11.44rem;
                height: auto;
                .inner-about {
                    padding: 1rem 2rem;
                    font-size: 0.825rem;
                }
            }
        }
        .options-container::-webkit-scrollbar {
            height: 1rem;
        }
        .options-container:first-child {
            .post {
                width: 19rem;
                min-width: 19rem;
            }
        }
        .options-container:nth-child(3) {
            .post {
                width: 14.23rem;
                min-width: 14.23rem;
            }
        }
        .options-container:nth-child(4) {
            .post {
                width: 9.5rem;
                min-width: 9.5rem;
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    .content {
        .options-container {
            .option {
                height: 12.5rem;
                font-size: 2rem;
            }
            .post {
                width: 13.2rem;
                min-width: 13.2rem;
                .inner-about {
                    font-size: 1rem;
                }
                .inner-post {
                    font-size: 1rem;
                }
                .post-overlay {
                    font-size: 3.25rem;
                }
            }
        }
        .options-container::-webkit-scrollbar {
            height: 1.125rem;
        }
        .options-container:first-child {
            .post {
                width: 21.875rem;
                min-width: 21.875rem;
            }
        }
        .options-container:nth-child(3) {
            .post {
                width: 13.9rem;
                min-width: 13.9rem;
            }
        }
        .options-container:nth-child(4) {
            .post {
                width: 10.875rem;
                min-width: 10.875rem;
            }
        }
    }
}

@media only screen and (min-width: 1920px) {
    .content {
        .options-container {
            .option {
                font-size: 2.5rem;
            }
        }
    }
}