.toggle {
    display: none;
}

@media only screen and (min-width: 720px) {
    .toggle {
        justify-self: flex-end;
        margin-top: 1rem;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 16.667%;
        span {
            position: absolute;
            font-size: 1.25rem;
        }
        .language-top {
            bottom: 2.5rem;
            right: 3rem;
        }
        .language-bottom {
            bottom: 0.5rem;
            right: 0.75rem;
        }
    }
}
