.links {
    display: flex;
    justify-content: space-between;
    padding: 3.25rem 2rem;
    width: 100%;
    .other {
        display: flex;
        justify-content: flex-start;
    }
    .insta, .other > a {
        display: block;
        width: 5rem;
        height: 5rem;
        background: var(--box-bg);
        border: 1px solid var(--color-border);
        position: relative;
        transition: background-color 0.4s ease;
    }
    .insta:hover, .other > a:hover {
        background: var(--primary-color);
        cursor: pointer;
    }
    span {
        position: absolute;
        font-size: 0.875rem;
        font-style: italic;
        bottom: 0;
        left: 0;
    }
}

@media only screen and (min-width: 720px) {
    .links {
        padding: 3.25rem 1rem;
        .insta {
            margin-left: 12.5%;
            width: 12.5%;
            height: auto;
            aspect-ratio: 1;
        }
        .other {
            width: 37.5%;
            a:first-child {
                width: 33.33%;
                height: auto;
                aspect-ratio: 1;
            }
            a:last-child {
                margin-left: 33.33%;
                width: 33.33%;
                height: auto;
                transition: all 0.4s ease;
            }
            a:last-child:hover {
                margin-left: 0;
                width: 66.66%;
            }
        }
    }
}