.main {
    position: relative;
    .labels {
        font-size: 0.825rem;
        font-style: italic;
        color: var(--primary-color);
        margin-left: 2rem;
        span {
            font-size: inherit;
            font-style: inherit;
            color: inherit;
        }
        span + span {
            margin-left: 3.5rem;
        }
    }
    a {
        display: block;
        font-family: "Avenir Next Medium", "Yu Gothic Bold";
        font-size: 0.875rem;
        line-height: 1.9025rem;
        transition: background-color 0.4s ease;
        span:first-child {
            display: inline-block;
            margin-left: 2rem;
            width: 5.3rem;
            min-width: 5.3rem;
        }
    }
    a:hover {
        background: var(--primary-color);
        cursor: pointer;
    }
    .lines {
        z-index: -1;
        position: absolute;
        width: 100%;
        top: 0.75rem;
        .line {
            padding: 0.92rem;
            width: 100%;
            border-bottom: 1px solid var(--color-border);
        }
    }
    .boxes {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .post {
            display: block;
            position: relative;
            .overlay {
                top: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1px solid var(--color-border);
                background: var(--box-bg);
                .title {
                    text-align: center;
                    font-size: 1rem;
                }
                .date {
                    font-family: "Avenir Next UltraLight";
                    font-size: 1.5rem;
                }
                .category {
                    position: absolute;
                    bottom: -0.5rem;
                    right: 0;
                    font-family: "Avenir Next Bold";
                    color: var(--secondary-txt);
                }
            }
            .inner-post {
                background-color: var(--primary-color);
                position: relative;
                opacity: 0;
                transition: all 0.4s ease;
                .top {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 0.5rem;
                    .top-title {
                        width: 45%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
                .bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: stretch;
                    position: relative;
                    .desc {
                        font-size: 0.75rem;
                        line-height: 1.25rem;
                        width: 45%;
                        height: 7.5rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 5; /* number of lines to show */
                                line-clamp: 5; 
                        -webkit-box-orient: vertical;
                    }
                    .img-container {
                        position: absolute;
                        left: 47.5%;
                        width: 40%;
                        height: 11.5rem;
                    }
                    .category {
                        width: 4.841rem;
                        writing-mode: vertical-rl;
                        text-orientation: vertical;
                        text-align: right;
                    }
                }
            }
            .inner-post:hover {
                opacity: 1;
            }
        }
    }
}

@media only screen and (min-width: 720px) {
    .main {
        width: 62.5%;
        min-height: 100vh;
        .boxes {
            gap: 4rem;
            .post {
                width: 80%;
                transition: all 0.4s ease;
                .inner-post {
                    .top {
                        font-size: 1.125rem;
                        margin-bottom: 1rem;
                    }
                    .bottom {
                        .desc {
                            font-size: 1rem;
                        }
                        .category {
                            font-size: 1rem;
                        }
                    }
                }
                .overlay {
                    gap: 0.5rem;
                    .title {
                        font-size: 1.125rem;
                    }
                    .date {
                        font-size: 2.5rem;
                    }
                    .category {
                        font-size: 1.125rem;
                    }
                }
            }
            .post:hover {
                width: 100%;
            }
        }
        .labels {
            font-size: 1.5rem;
            span + span {
                margin-left: 6.5rem;
            }
        }
        a {
            font-size: 1.25rem;
            line-height: 2.56rem;
            span:first-child {
                width: 10rem;
            }
        }
        .lines {
            padding-top: 0.75rem;
            .line {
                padding: 1.25rem;
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    .main {
        .boxes {
            .post {
                .inner-post {
                    .top {
                        font-size: 1.375rem;
                        margin-bottom: 1.25rem;
                    }
                    .bottom {
                        .desc {
                            font-size: 1.175rem;
                            line-height: 1.5rem;
                        }
                        .category {
                            font-size: 1.25rem;
                        }
                    }
                }
                .overlay {
                    .title {
                        font-size: 1.5rem;
                    }
                    .date {
                        font-size: 3rem;
                    }
                    .category {
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .labels {
            font-size: 1.75rem;
        }
        a {
            font-size: 1.5rem;
            line-height: 2.81rem;
        }
        .lines {
            padding-top: 1.5rem;
            .line {
                padding: 1.375rem;
            }
        }
    }
}