.view-switch {
    display: none;
}

.content {
    padding: 2rem 1rem;
    position: relative;
    .sidebar {
        display: none;
    }
}

@media only screen and (min-width: 720px) {
    .view-switch {
        z-index: 2;
        position: fixed;
        right: 1rem;
        display: block;
        width: 4.5rem;
        height: auto;
        aspect-ratio: 1;
    }
    .view-switch[active=box] {
        rect:first-child {
            fill: var(--primary-color);
        }
        path  {
            fill: var(--box-bg);
        }
    }
    .content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
}