@font-face {
    font-family: "Avenir Next Bold";
    src: url("../fonts/avenirnextltpro-bold-webfont.woff2");
}

@font-face {
    font-family: "Avenit Next";
    src: url("../fonts/avenirnextltpro-regular-webfont.woff2");
}