@font-face {
    font-family: "Avenir Next Bold";
    src: url("../fonts/avenirnextltpro-bold-webfont.woff2");
}

@font-face {
    font-family: "Avenir Next";
    src: url("../fonts/avenirnextltpro-regular-webfont.woff2");
}

@font-face {
    font-family: "Avenir Next Medium";
    src: url("../fonts/avenir-next-medium.woff2");
}

@font-face {
    font-family: "Avenir Next HeavyItalic";
    src: url("../fonts/avenir-next-heavy-italic.woff2");
}

@font-face {
    font-family: "Avenir Next UltraLight";
    src: url("../fonts/AvenirNext-UltraLight.woff2");
}

@font-face {
    font-family: "Yu Gothic Bold";
    src: url("../fonts/yugothib.woff2");
}

@font-face {
    font-family: "YuMin Medium";
    src: url("../fonts/yumincho-medium.woff2");
}

@font-face {
    font-family: "YuMin Extrabold";
    src: url("../fonts/YuMin-Extrabold-AlphaNum-03.woff2");
}